<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
<div th:replace="Fragments/reusable :: generic"></div>
<div th:replace="Fragments/reusable :: navbar"></div>
<div class="container">
    <h1>Add Book</h1>
    <div class="col-md-6">
        <form th:action="@{~/book/addbook}" method="post" th:object="${bookDto}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label class="text-dark">Select Category</label>
            <select th:field="*{categoryDto}" class="form-select" aria-label="Default select example">
                <option th:each="category : ${listCategory}"
                th:value="${category.id}"
                th:text="${category.name}">
                </option>
            </select>
            <br>
            </div>
            <div class="mb-3">
                <label class="text-dark">Select Authors</label>
                <select th:field="*{authorDtoList}" class="form-select" multiple>
                    <option th:each="authors : ${listAuthor}" th:value="${authors.id}"
                    th:text="${authors.name}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Book name">
                <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">Number of Pages</label>
                <input type="text" th:field="*{numberOfPages}" class="form-control" placeholder="Total pages" >
            </div>
            <div class="mb-3">
                <label class="form-label">Isbn</label>
                <input type="text" th:field="*{isbn}" class="form-control" placeholder="isbn number" >
            </div>
            <div class="mb-3">
                <label class="form-label">Rating</label>
                <input type="text" th:field="*{rating}" class="form-control" placeholder="" >
            </div>
            <div class="mb-3">
                <label class="form-label">Stock Count</label>
                <input type="text" th:field="*{stockCount}" class="form-control" placeholder="Total stock" >

            </div>
            <div class="mb-3">
                <label class="form-label">Published Date</label>
                <input type="date" th:field="*{publishedDate}" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Photo</label>
                <input type="file" th:field="*{multipartFile}" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


</body>
</html>